# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Linter Cache
.ruff_cache/

# YOLO weights and models
*.pt
*.onnx

# Data and output directories
dataset/
test_images/
output_chunks/
predictions/
prediction_results/
hyperparameter_logs/
default_weights/
saved_models/

# Original Full Datasets (IGNORED for GitHub size limits)
data/
birdnest_data/
test/
test_data/
full_dataset_backup/

# Environment
.env
.venv
env/
venv/

# OS specific
.DS_Store
Thumbs.db
